@use "../../partials/fonts";
@use "../../partials/mixin";


:root  {
    --content : #2c2c2c;
}
.hero {
    padding-bottom: 80px;
    position: relative;
    .wrapper-hero {
        display: block;
        .container {
            .row {
                .col-6 {
                    display: flex;
                    align-items: center;
                    height: 642px;
                    .header-content-hero {
                        
                        h2 {
                            color:var(--content);
                            line-height: 50px;
                        }
                        h3 {
                            font-size: 43.333px;
                            font-weight: 800;
                            text-transform: uppercase;
                            width: 370px;
                            margin-bottom: 27.67px;
                        }
                        p {
                            max-width: 449.167px;
                            font-size: 16px;
                            line-height: 20.417px;
                            font-weight: 400;
                        }
                    }
                    .trademark {
                        padding-top: 0;
                        background: #ddffca;
                        height: 642px;
                        width: 50%;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 50%;
                        .wrapper-trademark  {
                            display: flex;
                            height: 100%;
                            display: inline-block;
                            position: relative;
                            img {
                                width: 500px;
                                height: auto;
                                position: relative;
                                top: 20px;
                                left: -130px;
                            }
                            h1 {
                                display: inline-block;
                                font-size: 100px;
                                transform: rotate(90deg);
                                font-weight: 800;
                                opacity: 0.15;
                                position: absolute;
                                top: 150px;
                                left: 220px;
                            }
                        }
                    }
                    
                }
                
            }
           
        }
        
    }
}

@include mixin.pc-device {
    .hero {
        .wrapper-hero {
            .container {
                .row {
                    .col-6 {
                        .header-content-hero {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }
}

@include mixin.miniPc-device {
    .hero {
        .wrapper-hero {
            .container {
                .row {
                    .col-6 {
                        display: flex;
                        justify-content: center;
                        height: auto;
                        .header-content-hero {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 20px 0;
                            text-align: center;
                        }
                        .trademark {
                            display: flex;
                            justify-content: center;
                            height: auto;
                            position: relative;
                            top: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            .wrapper-trademark {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 50px 0;

                                img {
                                    position: static;
                                    width: 400px;
                                }
                                h1 {
                                    position: relative;
                                    top: 0;
                                    left: -60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mixin.tablet-device {
    .hero {
        .wrapper-hero {
            .container {
                .row {
                    .col-6 {
                        display: flex;
                        justify-content: center;
                        .header-content-hero {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 20px 0;
                            text-align: center;
                        }
                        .trademark {
                            display: flex;
                            justify-content: center;

                            .wrapper-trademark {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin: 50px 0;

                                img {
                                    position: static;
                                    width: 400px;
                                }
                                h1 {
                                    position: static;
                                    transform: rotate(0deg);
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mixin.mobile-device {
    .hero {
        .wrapper-hero {
            .container {
                .row {
                    .col-6 {
                        .trademark {
                            .wrapper-trademark {
                                img {
                                    width: 60vw;
                                }
                                h1 {
                                    font-size: 20vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// @include mixin.big-pc-device {
//     .hero {
//         .wrapper-hero {
//             .container {
//                 .row {
//                     .col-6 {
//                         height: 600px;
//                         &:nth-child(2) {
//                             padding-right: 0;
//                         }
//                         .header-content-hero {
//                             h2 {
//                                 font-size: 30px;
//                             }
//                             h3 {
//                                 font-size: 40px;
//                                 width: 350px;
//                             }
//                         }
//                         .trademark {
//                             .wrapper-trademark {
//                                 img {
//                                     width: 560px;
//                                     top: 20px;
//                                     left: -120px;
//                                 }
//                                 h1 {
//                                     font-size: 140px;
//                                     top: 165px;
//                                     left: 210px;
//                                     width: 500px;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @include mixin.pc-device {
//     .hero {
//         .wrapper-hero {
//             .container {
//                 .row {
//                     .col-6 {
//                         height: 500px;
                        
//                         .trademark {
//                             position: static;
//                             width: 100%;
//                             border-radius: 10px;        
//                             .wrapper-trademark {
//                                 img {
//                                     width: 450px;
//                                     top: 20px;
//                                     left: -120px;
//                                 }
//                                 h1 {
//                                     font-size: 90px;
//                                     top: 250px;
//                                     left: 120px;
//                                     width: 500px;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @include mixin.miniPc-device {
//     .hero {

//         .wrapper-hero {

//             .container {
//                 .row {
//                     .col-md-12 {
//                         height: 400px;
//                         display: flex;
//                         justify-content: center;
//                         position: relative;
                        
//                         .header-content-hero {
//                             height: auto;
//                             text-align: center;
//                             width: 700px;
//                             display: flex;
//                             flex-direction: column;
//                             justify-content: center;
//                             align-items: center;

//                             h3 {
//                                 display: block;
//                                 width: 100%;
//                             }

//                         }
//                         .trademark {
//                             position: static;
//                             width: 100%;
//                             border-radius: 10px;
//                             .wrapper-trademark {
//                                 position: static;
//                                 display: flex;
//                                 justify-content: center;
                                
//                                 img {
//                                     width: 400px;
//                                     position: static;
//                                 }
//                                 h1 {
//                                     // position: static;
//                                     font-size: 90px;
//                                     top: 100px;
//                                     left: 240px;
//                                     width: 300px;
//                                     height: 200px;
//                                     // width: 500px;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }